.modalItem {
    width: 100%;
    text-align: center;
}

  
.modalItem .iframe {
    width: 100%!important;
    height:90vh!important;
}

.modalItem.content {
    height:100vh!important;
}

@media screen and (max-width:767px){
    .modalItem.content{
        height:90vh !important;
    }

    .modalItem .iframe {
        width:100% !important;
    }
}